@import url('https://fonts.googleapis.com/css?family=Rokkitt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@400;700&display=swap');

$dark: #1F2605;
$green-dark: #1F6521;
$green-light: #53900F;
$gold-dark: #A4A71E;
$gold-light: #D6CE15;